<p style="color: green"><%= notice %></p>

<%= render @activity_table %>

<div>
  <%= link_to "Edit this activity table", edit_activity_table_path(@activity_table) %> |
  <%= link_to "Back to activity tables", activity_tables_path %>

  <%= button_to "Destroy this activity table", @activity_table, method: :delete %>
</div>
