<div class="container">
  <div class="hero">
    <h2 class="font-96">Manage your Business</h2>
    <p class="font-20">Etmam Al-Arabia is a newly established Saudi company that keeps pace with rapid changes and developments in the field of e-government. Our team consists of experts in e-government relations and field workers with high efficiency. We also have an expert team in human resources, medical insurance, and electronic marketing.</p>
    <a href="#" class="hero-button">
      <%= image_tag('Group 32.svg', class: 'wi-24') %>
      <span class="hero-button-text">Check your company</span>
    </a>
  </div>
  <div id="text" class="text">
    <%= link_to "افحص منشأتك", new_inspection_path %>
  </div>
  <div>
    <%= image_tag('Group 32.svg', class: 'main-image') %>
  </div>

  <div class="m-bi">
    <h1 class="font-64 diflex">Why Choose Us?</h1>
    <div class="about-box-div">
      <div class="box-about">
        <h3 class="diflex">Experts</h3>
        <p class="font-20 about-box">Specialists in government relations management</p>
      </div>
      <div class="box-about">
        <h3 class="diflex">Quality</h3>
        <p class="font-20 about-box">High performance quality and rapid execution</p>
      </div>
      <div class="box-about">
        <h3 class="diflex">Consulting</h3>
        <p class="font-20 about-box">Offering consultations and analytical studies</p>
      </div>
    </div>
  </div>

  <div class="flexi m-bi-320">
    <div class="image-secondary">
      <img class="main-image" src="images/Group 32.svg" alt="">
    </div>
    <div class="po-r-to">
      <h3 class="diflex font-40">Our Clients</h3>
      <div class="clients-5 logos">
        <div class="flexi logos-slide">
          <%= image_tag('شعار_الاصول_العربية_للعقارات-removebg-preview.png', class: 'clients') %>
          <!-- Add more client logos here -->
        </div>
        <div class="flexi logos-slide">
          <%= image_tag('شعار_الاصول_العربية_للعقارات-removebg-preview.png', class: 'clients') %>
          <!-- Add more client logos here -->
        </div>
      </div>
    </div>
  </div>

  <footer class="jci m-bi hi footer">
    <div class="w-55i">
      <h3 class="diflex m-bi-40 font-40 mt-0i">Connect with Us</h3>
      <div class="jci">
        <%= image_tag('image 3.png', class: 'iconi') %>
        <%= image_tag('image 4.png', class: 'iconi') %>
        <%= image_tag('image 5.png', class: 'iconi') %>
        <%= image_tag('image 6.png', class: 'iconi') %>
      </div>
    </div>
    <%= image_tag('logo.PNG', class: 'img-footer') %>
  </footer>
</div>
