<div class="container">
  <div class="hero">
    <h2 class="font-96">Manage your bussness</h2>
    <p class="font-20">A newly established Saudi company to keep pace with the rapid changes and rapid development in the field of e-government as Etmam Al-Arabia has a team of experts in the field of e-government relations And field workers with high efficiency, in addition to the presence of an expert cadre in human materials, medical insurance and electronic marketing.</p>
    <a href="#" class="hero-button"><%= image_tag('Group 32.svg', class: 'wi-24') %><span class="hero-button-text">Check your company</span></a>
  </div>
  <div id="text" class="text" >
    <%= link_to "افحص منشأتك", new_inspection_path %>
  </div>
  <div>
    <%= image_tag('Group 32.svg', class: 'main-image') %>
  </div>
</div>

<div class="m-bi">
    <h1 class="font-64 diflex">Why choosing us?</h1>
    <div class="about-box-div">
        <div class="box-about">
            <h3 class="diflex">Experts</h3>
            <p class="font-20 about-box">Experts in the field of government relations management</p>
        </div>
        <div class="box-about">
            <h3 class="diflex">Quality</h3>
            <p class="font-20 about-box">Quality of performance and speed of work</p>
        </div>
        <div class="box-about">
            <h3 class="diflex">Consulting</h3>
            <p class="font-20 about-box">Providing consultations and analytical studies</p>
        </div>
    </div>
</div>

<div class="flexi m-bi-320">
    <div class="image-secondery ">
        <img class="main-image " src="images/Group 32.svg" alt="">
    </div>
    <div class="po-r-to">
        <h3 class="diflex font-40">Our clients</h3>
        <div class="clients-5 logos">
            <div class="flexi logos-slide">
            <%= image_tag('شعار_الاصول_العربية_للعقارات-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_الشايع_للعزل_الحديث-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_قهوة_اراء_للقهوة_المختصة-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_مؤسسة_برواز_وتلاوين-removebg-preview.png', class: 'clients-3') %>
            <%= image_tag('شعار_مصنع_اطياب_البوادي-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_مكتب_عبدالعزيز_التويجري_للمحاماة-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_مهيل_لادارة_المرافق-removebg-preview.png', class: 'clients-4') %>
            <%= image_tag('شعار_نيّاف_لاونج_وكافيه-removebg-preview.png', class: 'clients-2') %>
            </div>
            <div class="flexi logos-slide">
            <%= image_tag('شعار_الاصول_العربية_للعقارات-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_الشايع_للعزل_الحديث-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_قهوة_اراء_للقهوة_المختصة-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_مؤسسة_برواز_وتلاوين-removebg-preview.png', class: 'clients-3') %>
            <%= image_tag('شعار_مصنع_اطياب_البوادي-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_مكتب_عبدالعزيز_التويجري_للمحاماة-removebg-preview.png', class: 'clients') %>
            <%= image_tag('شعار_مهيل_لادارة_المرافق-removebg-preview.png', class: 'clients-4') %>
            <%= image_tag('شعار_نيّاف_لاونج_وكافيه-removebg-preview.png', class: 'clients-2') %>
            </div>
        </div>
    </div>
</div>
