<div id="<%= dom_id nitak_table %>">
  <p>
    <strong>Activity table:</strong>
    <%= nitak_table.activity_table.activitiy %>
  </p>

  <p>
    <strong>Company status:</strong>
    <%= nitak_table.company_status.status %>
  </p>

  <p>
    <strong>Fixed value:</strong>
    <%= nitak_table.fixed_value %>
  </p>

  <p>
    <strong>Yearly value:</strong>
    <%= nitak_table.yearly_value %>
  </p>

</div>
