<div id="<%= dom_id nitak_table %>">
  <p>
    <strong>Activity table:</strong>
    <%= nitak_table.activity_table_id %>
  </p>

  <p>
    <strong>Color table:</strong>
    <%= nitak_table.color_table_id %>
  </p>

  <p>
    <strong>Fixed value:</strong>
    <%= nitak_table.fixed_value %>
  </p>

  <p>
    <strong>Yearly value:</strong>
    <%= nitak_table.yearly_value %>
  </p>

</div>
