<div id="<%= dom_id study %>">

  <p>
    <strong>Activity:</strong>
    <ul>
      <% study.activity_tables.each do |activity_table| %>
        <li>
          <%= activity_table.activity %>
          <%= activity_table.active ? "✅" : "❌" %>
        </li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= study.branch %>
  </p>

  <p>
    <strong>Company size:</strong>
    <%= study.company_size_id %>
  </p>

  <p>
    <strong>Foreigner:</strong>
    <%= study.foreigner %>
  </p>

  <p>
    <strong>Saudi:</strong>
    <%= study.saudi %>
  </p>

  <p>
    <strong>Ajier:</strong>
    <%= study.ajier %>
  </p>

  <p>
    <strong>Special foreigner:</strong>
    <%= study.special_foreigner %>
  </p>

  <p>
    <strong>Special saudis:</strong>
    <%= study.special_saudis %>
  </p>

  <p>
    <strong>Localization rate:</strong>
    <%= study.localization_rate %>
  </p>

  <p>
    <strong>Saudi four:</strong>
    <%= study.saudi_four %>
  </p>

  <p>
    <strong>Saudi three four:</strong>
    <%= study.saudi_three_four %>
  </p>

  <p>
    <strong>Saudi three:</strong>
    <%= study.saudi_three %>
  </p>

  <p>
    <strong>Visa:</strong>
    <%= study.visa %>
  </p>

  <p>
    <strong>Saudi disable:</strong>
    <%= study.saudi_disable %>
  </p>

  <p>
    <strong>Adaptation:</strong>
    <%= study.adaptation %>
  </p>

  <p>
    <strong>Saudi jailed:</strong>
    <%= study.saudi_jailed %>
  </p>

  <p>
    <strong>Saudi student:</strong>
    <%= study.saudi_student %>
  </p>

  <p>
    <strong>Saudi online:</strong>
    <%= study.saudi_online %>
  </p>

  <p>
    <strong>Saudi player:</strong>
    <%= study.saudi_player %>
  </p>

  <p>
    <strong>Saudi loan player:</strong>
    <%= study.saudi_loan_player %>
  </p>

  <p>
    <strong>Foreigner like saudi:</strong>
    <%= study.foreigner_like_saudi %>
  </p>

  <p>
    <strong>Foreigner like foreigner:</strong>
    <%= study.foreigner_like_foreigner %>
  </p>

  <p>
    <strong>Specialy foreigner:</strong>
    <%= study.specialy_foreigner %>
  </p>

  <p>
    <strong>Tribe saudi:</strong>
    <%= study.tribe_saudi %>
  </p>

  <p>
    <strong>Gulf citizen:</strong>
    <%= study.gulf_citizen %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= study.owner %>
  </p>

  <p>
    <strong>Red week:</strong>
    <%= study.red_week %>
  </p>

  <p>
    <strong>Uncounted saudi:</strong>
    <%= study.uncounted_saudi %>
  </p>

</div>
