<p style="color: green"><%= notice %></p>

<%= render @company_size %>

<div>
  <%= link_to "Edit this company size", edit_company_size_path(@company_size) %> |
  <%= link_to "Back to company sizes", company_sizes_path %>

  <%= button_to "Destroy this company size", @company_size, method: :delete %>
</div>
