<%= form_for @inspection, html: { class: 'bg-2' } do |f| %>
  <div class="form-step form-step-active">
    <div class="input-group">
      <%= f.label :company_name, "اسم المنشأة", class: "c-n" %>
      <%= f.text_field :company_name, class: "inp", id: "c-n" %>
    </div>
    <div>
      <a class="n-x" href="#">التالي</a>
    </div>
  </div>    

  <div class="form-step">
    <div class="input-group">
      <%= f.label :branchs_quantity, "عدد فروع المنشأة", class: "c-n" %>
      <%= f.number_field :branchs_quantity, class: "inp-numbers", id: "c-nu", min: 0, value: 1 %>
    </div>
    <div class="btns">
      <a class="n-x" href="#">التالي</a>
      <a class="n-p" href="#">السابق</a>
    </div>
  </div>    

  <div class="form-step">
    <div class="input-group">
      <%= f.label :company_status, "نطاق المنشأة", class: "c-n" %>
      <%= f.select :company_status_id, options_for_select(CompanyStatus.all.map { |status| [status.status, status.id] }), {}, class: "inp", id: "c-s" %>
      </div>
    <div class="btns">
      <a class="n-x" href="#">التالي</a>
      <a class="n-p" href="#">السابق</a>
    </div>
  </div>

  <div class="form-step">
    <div class="input-group">
      <%= f.label :saudi_employees, "عدد السعوديين في المنشأة", class: "c-n" %>
      <%= f.number_field :saudi_employees, class: "inp-numbers", id: "c-ep-s", min: 0, value: 1 %>
    </div>
    <div class="btns">
      <a class="n-x" href="#">التالي</a>
      <a class="n-p" href="#">السابق</a>
    </div>
  </div>

  <div class="form-step">
    <div class="input-group">
      <%= f.label :nonsaudi_employees, "عدد الأجانب في المنشأة", class: "c-n" %>
      <%= f.number_field :nonsaudi_employees, class: "inp-numbers", id: "c-ep-f", min: 0, value: 1 %>
    </div>
    <div class="btns">
      <a class="n-x" href="#">التالي</a>
      <a class="n-p" href="#">السابق</a>
    </div>
  </div>

  <div class="form-step">
    <div class="input-group">
      <p class="c-n">هل المنشأة ملتزمة بحماية الأجور</p>
      <div class="inp-radio">
        <%= f.label :salary_protection, "نعم"%>
        <%= f.radio_button :salary_protection, true, class: "inp-radio-l"%>

        <%= f.label :salary_protection, "لا" %>
        <%= f.radio_button :salary_protection, false %>
      </div>
    </div>
    <div class="btns">
      <a class="n-x" href="#">التالي</a>
      <a class="n-p" href="#">السابق</a>
    </div>
  </div>    

  <div class="form-step">
    <div class="input-group">
      <label for="c-in-wi" class="c-n">هل ترغب بعمل فحص حالة المنشأة</label>
      <div class="inp-radio">
        <%= f.label :want_inspection, "نعم"%>
        <%= f.radio_button :want_inspection, true, class: "inp-radio-l" %>

        <%= f.label :want_inspection, "لا" %>
        <%= f.radio_button :want_inspection, false %>
      </div>
    </div>
    <div class="btns">
      <a class="n-x" href="#">التالي</a>
      <a class="n-p" href="#">السابق</a>
    </div>
  </div>

  <div class="form-step">
    <div class="input-group">
      <%= f.label :personal_name, "الإسم الشخصي", class: "c-n" %>
      <%= f.text_field :personal_name, class: "inp", id: "c-p-n" %>
    </div>
    <div class="btns">
      <a class="n-x" href="#">التالي</a>
      <a class="n-p" href="#">السابق</a>
    </div>
  </div>

  <div class="form-step">
    <div class="input-group">
      <%= f.label :phone_number, "رقم التواصل", class: "c-n" %>
      <%= f.text_field :phone_number, class: "inp", id: "c-ph-n" %>
    </div>
    <div class="btns">
      <a class="n-x" href="#">التالي</a>
      <a class="n-p" href="#">السابق</a>
    </div>
  </div>

  <div class="form-step">
    <div class="input-group">
      <%= f.label :email, "الايميل", class: "c-n" %>
      <%= f.email_field :email, class: "inp", id: "c-e" %>
    </div>
    <div class="btns">
      <a class="n-x" href="#">التالي</a>
      <a class="n-p" href="#">السابق</a>
    </div>
  </div>

  <div class="form-step">
    <div class="input-group">
      <%= f.label :explanation, "اشرح المشكلة", class: "c-n" %>
      <%= f.text_area :explanation, class: "inp-t-a", id: "c-p-x" %>
    </div>
    <div class="btns">
      <a class="n-p" href="#">السابق</a>
    </div>
    <div class="actions">
    <%= f.submit "Create Inspection", class: "n-x" %>
  </div>
  </div>


<% end %>
