<%= form_for @inspection, html: { class: 'form' } do |f| %>


      <div class="input-box">
  
        <%= f.label :company_name, "اسم المنشأة", class: "label" %>
        <%= f.text_field :company_name, class: "input", id: "c-n",  placeholder: "اسم المنشأة" %>
      </div>

      <div class="input-box">

        <%= f.label :branchs_quantity, "عدد فروع المنشأة", class: "label" %>
        <%= f.number_field :branchs_quantity, class: "input", id: "c-nu", min: 0, value: 1, placeholder: "عدد فروع المنشأة" %>
      </div>

      <div class="input-box">

        <%= f.label :company_status, "نطاق المنشأة", class: "label" %>
        <%= f.select :company_status_id, options_for_select(CompanyStatus.all.map { |status| [status.status, status.id] }), {}, class: "input", id: "c-s" %>
      </div>
      <div class="column">
        <div class="input-box">

          <%= f.label :saudi_employees, "عدد السعوديين في المنشأة", class: "label" %>
          <%= f.number_field :saudi_employees, class: "input", id: "c-ep-s", min: 0, value: 1 %>
        </div>

        <div class="input-box">

          <%= f.label :nonsaudi_employees, "عدد الأجانب في المنشأة", class: "label" %>
          <%= f.number_field :nonsaudi_employees, class: "input", id: "c-ep-f", min: 0, value: 1 %>
        </div>
      </div>


      <div class="gender-box">

        <h3>هل المنشأة ملتزمة بحماية الأجور</h3>
        <div class="gender-option">
          <div class="gender">

            <%= f.label :salary_protection, "نعم", class: "label"%>
            <%= f.radio_button :salary_protection, true%>
          </div>
          <div class="gender">

            <%= f.label :salary_protection, "لا", class: "label" %>
            <%= f.radio_button :salary_protection, false %>
          </div>
        </div>
      </div>
   
      <div class="gender-box">

        <h3>هل ترغب بعمل فحص حالة المنشأة</h3>
        <div class="gender-option">
          <div class="gender">

            <%= f.label :want_inspection, "نعم", class: "label"%>
            <%= f.radio_button :want_inspection, true, class: "i"%>
          </div>
          <div class="gender">

            <%= f.label :want_inspection, "لا", class: "label" %>
            <%= f.radio_button :want_inspection, false %>
          </div>
        </div>
      </div>
      <div class="input-box">

        <%= f.label :personal_name, "الإسم الشخصي", class: "label" %>
        <%= f.text_field :personal_name, class: "input", id: "c-p-n", placeholder: "الاسم الشخصي" %>
      </div>

      <div class="input-box">

        <%= f.label :phone_number, "رقم التواصل", class: "label" %>
        <%= f.text_field :phone_number, class: "input", id: "c-ph-n", placeholder: "رقم التواصل" %>
      </div>

      <div class="input-box">

        <%= f.label :email, "الايميل", class: "label" %>
        <%= f.email_field :email, class: "input", id: "c-e", placeholder: "البريد الإلكتروني" %>
      </div>

      <div class="input-box">

        <%= f.label :explanation, "اشرح المشكلة", class: "label" %>
        <%= f.text_area :explanation, class: "textarea", id: "c-p-x" %>
      </div>

    <%= f.submit "افحص منشأتك", class: "button" %>
  </div>


<% end %>
