<div id="<%= dom_id(inspection)%>"  class="card rtl">
    <header class="card-header">
      <p class="card-header-title">
        <%= inspection.company_name %>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p class="has-text-weight-bold">
          <strong>عدد فروع المنشأة:</strong>
          <%= inspection.branchs_quantity %>
        </p>

        <p class="has-text-weight-bold">
          <strong>نطاق المنشأة:</strong>
          <%= inspection.company_status_id %>
        </p>

        <p class="has-text-weight-bold">
          <strong>عدد السعوديين:</strong>
          <%= inspection.saudi_employees %>
        </p>

        <p class="has-text-weight-bold">
          <strong>عدد الاجانب:</strong>
          <%= inspection.nonsaudi_employees %>
        </p>

        <p class="has-text-weight-bold">
          <strong>هل المنشأة ملتزمة بحماية الأجور:</strong>
          <%= inspection.salary_protection %>
        </p>

        <p class="has-text-weight-bold">
          <strong>هل ترغب بعمل فحص حالة المنشأة:</strong>
          <%= inspection.want_inspection %>
        </p>

        <p class="has-text-weight-bold">
          <strong>الاسم الشخصي:</strong>
          <%= inspection.personal_name %>
        </p>

        <p class="has-text-weight-bold">
          <strong>رقم التواصل:</strong>
          <%= inspection.phone_number %>
        </p>

        <p class="has-text-weight-bold">
          <strong>البريد:</strong>
          <%= inspection.email %>
        </p>

        <p>
          <strong  class="has-text-weight-bold">شرح المشكلة:</strong>
          <br>
          <br>
          <%= inspection.explanation %>
        </p>

      </div>
    </div>
</div>



