<div id="<%= dom_id inspection %>">
  <p>
    <strong>Company name:</strong>
    <%= inspection.company_name %>
  </p>

  <p>
    <strong>Branchs quantity:</strong>
    <%= inspection.branchs_quantity %>
  </p>

  <p>
    <strong>Company status:</strong>
    <%= inspection.company_status_id %>
  </p>

  <p>
    <strong>Saudi employees:</strong>
    <%= inspection.saudi_employees %>
  </p>

  <p>
    <strong>Nonsaudi employees:</strong>
    <%= inspection.nonsaudi_employees %>
  </p>

  <p>
    <strong>Salary protection:</strong>
    <%= inspection.salary_protection %>
  </p>

  <p>
    <strong>Want inspection:</strong>
    <%= inspection.want_inspection %>
  </p>

  <p>
    <strong>Personal name:</strong>
    <%= inspection.personal_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= inspection.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= inspection.email %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= inspection.explanation %>
  </p>

</div>
