<!DOCTYPE html>
<html>
  <head>
    <title>Itmam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "itmam" %>
    <%= stylesheet_link_tag 'styles', media: 'screen' %>

  </head>

  <body class="bg-im">
    <%= yield %>
  </body>
</html>
